.carousel{
    & i{
        color: greenyellow;
        font-size: 20px;
        padding: 20px;
        border: 3px solid greenyellow;
        border-radius: 50%;
    }
}

.carousel-control-prev{

    z-index: 50;
    /* left: -100px;
    right: -100px; */

    & i{
        transform: rotate(180deg);
    }

    & span{
        background-color: aquamarine;
        padding: 20px;
    }
}

.container-carousel-inner{
    position: relative;

    & .carousel-control-prev{
        left: -110px;
    }

    & .carousel-control-next{
        right: -110px;
    }
}


