/* Importações de fontes */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suez+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rozha+One&display=swap");

:root {
	/* variáveis de cores */

	--blue-light: #0f2a39;
	--blue-dark: #0a1720;
	--green-dark: #74cf21;
	--green-light: #9ef176;
	--width-padrao: 1200px;
}

* {
	/* Resetar os propriedades dos elementos*/

	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	/* A cada 1 Rem equivale a 10px  */

	font-size: 62.5%;
}

body {
	background-color: var(--blue-dark);
	height: 100%;
}

#particles-js {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

canvas {
	position: absolute;
	vertical-align: bottom;
	height: 100% !important;
	z-index: -1;
}

/* classes globais */
.section-padrao {
	max-width: 1200px;
	margin: 50px auto 0 auto;
}

/* header */

header {

	height: 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--green-dark);

	/* top bar */

	& .top-bar {

		width: 1200px;
		display: flex;
		justify-content: space-between;

		& .contact {
			display: flex;
			gap: 20px;

			& h5 {
				font-family: "poppins";
				font-size: 1.8rem;
				margin: 0;
				line-height: normal;
			}

			& .icon-phone {
				display: flex;
				height: auto;
				gap: 9px;
				justify-content: space-between;
				align-items: center;
			}

			& .icon-contact {
				display: flex;
				height: auto;
				gap: 9px;
				justify-content: space-between;
				align-items: center;
			}
		}

		& .social-media {
			display: flex;

			& .container-sm {
				display: flex;
				gap: 10px;
				justify-content: space-between;
			}
		}
	}

	& i:nth-child(1) {
		font-size: 2.5rem;
	}

	& i:nth-child(2) {
		font-size: 2.7rem;
	}
}

/* section > hero */

main {
	margin-top: 30px;
	position: relative;
	width: 100%;

height: 100%;

	& .menu {
		height: 80px;
		max-width: 900px;
		display: flex;
		background-color: var(--blue-light);
		margin: auto;
		justify-content: space-between;
		border-radius: 40px;

		& .menu-logo {
			padding-left: 40px;

			& img {
				width: 70px;
				height: 70px;
			}
		}

		#menu {
			list-style: none;
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 25px;
			padding-right: 40px;
			margin: 0;

			& li {
				& a {
					color: #e2e2e2;
					text-decoration: none;
					font-family: "Poppins";
					font-size: 16px;
				}
			}
		}

		& .menu-mobile{
			display: none;
		}

		& .button-menu {
			display: none;
			flex-direction: column;
			gap: 10px;
			align-items: center;
			justify-content: center;

			& .line {
				width: 70px;
				height: 10px;
				background-color: white;
				border-radius: 15px;
			}

			& .line:nth-child(1) {
				width: 35px;
				align-self: flex-start;
			}

			& .line:nth-child(3) {
				width: 35px;
				align-self: flex-end;
			}
		}
	}

	& .hero {
		margin-top: 30px;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;

		.content-hero {
			max-width: 1000px;
			width: 1000px;
			height: 600px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.onion-top {
				bottom: 0;
				left: 0;
			}

			.text-content-hero {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 500px;

				& .text-hero {
					width: 150px;

					& h1 {
						font-size: 10rem;
						color: var(--blue-dark);
						writing-mode: vertical-rl;
						transform: rotate(180deg);
						text-shadow: 2px 2px 0 #517f44, -2px 2px 0 #517f44,
							2px -2px 0 #517f44, -2px -2px 0 #517f44;
					}
				}

				& .text-content {
					align-self: flex-start;

					& h1 {
						align-self: flex-start;
						font-size: 4rem;
						color: white;
						font-family: "poppins";
						line-height: 5rem;
						font-weight: medium;

						& span {
							color: var(--green-light);
						}
					}

					& > p {
						margin-top: 20px;
						font-size: 1.6rem;
						color: white;
					}

					& .icon-text {
						display: flex;
						gap: 20px;
						align-items: center;
						margin-top: 30px;

						& .file-check {
							display: flex;
							gap: 10px;
							justify-content: center;
							align-items: center;

							& i {
								color: white;
								font-size: 3.5rem;
							}

							& p {
								width: 120px;
								text-align: left;
								font-size: 1.6rem;
								color: white;
							}
						}

						.square-energy {
							display: flex;
							gap: 10px;
							justify-content: center;
							align-items: center;

							& i {
								font-size: 3.5rem;
								color: white;
								display: flex;
							}

							& p {
								width: 100px;
								font-size: 1.6rem;
								color: white;
							}
						}
					}

					& .button-planos {
						margin-top: 50px;
						margin-left: 30px;
						width: 130px;
						height: 50px;
						position: relative;

						& button {
							background-color: var(--green-dark);
							width: 100%;
							height: 100%;
							font-size: 1.6rem;
							border: none;
							border-radius: 15px;
							font-weight: 500;
							padding-right: 15px;
						}

						& i {
							font-size: 2rem;
							color: black;
							position: absolute;
							top: 15px;
							right: 4px;
						}
					}
				}
			}

			& .imgs-hero {
				width: 370px;
				height: 530px;
				margin: auto;
				top: 40px;
				position: relative;

				& img:nth-child(1) {
					width: 100%;
					position: relative;
					z-index: 2;
				}

				& img:nth-child(2) {
					width: 100%;
					position: absolute;
					right: 0;
					z-index: 1;
				}
			}

			& > img {
				position: absolute;
			}

			& .onion-bottom {
				top: 0;
				right: 0;
			}
		}
	}

	& .carousel {
		position: relative;

		& #starUnion {
			position: absolute;
			top: px;
			right: 0;
		}

		& .carousel-title {
			width: 500px;
			margin: 50px auto;
			display: flex;
			justify-content: center;
			align-items: center;
			/* background-color: aqua; */
			gap: 30px;

			& .title {
				color: white;

				& span:nth-child(1) {
					color: var(--green-light);
					font-size: 4.2rem;
				}

				& span:nth-child(2) {
					color: black;
					font-size: 3rem;
					text-shadow: -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
						1px 0 0 white;
				}
			}

			& img {
				width: 50px;
				height: 50px;
			}
		}

		& .carousel-inner {
			width: 90%;
			margin: auto;
			background: #74cf21;

			& .carousel-item {
				& img {
					width: 100%;
					height: 300px;
					object-fit: cover;
				}
			}
		}
	}

	& .cta {
		height: 547px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-image: url(../imgs/background\ cta.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		& .cta-content {
			& .cta-title {
				color: white;
				display: flex;
				flex-direction: column;
				width: 280px;

				& h1 {
					font-size: 8rem;
					font-family: "Saira Stencil One", sans-serif;
					text-shadow: 20px 5px 30px var(--green-dark);
					width: auto;
					height: auto;
					margin: 0;
					transform: rotate(-0.5deg);
				}

				& h3 {
					font-size: 3.5rem;
					font-family: "Saira Stencil One", sans-serif;
					width: auto;
					height: auto;
					margin: 0;
					align-self: end;
				}

				& span {
					color: var(--green-dark);
				}
			}

			& p {
				color: white;
				font-size: 1.3rem;
				margin: 20px 0;
				width: 400px;
				font-family: "Suez One", serif;
				font-weight: normal;
			}

			& .cta-button {
				padding: 20px 5px;
				font-family: "Suez One", serif;
				font-size: 2rem;
				background-color: transparent;
				color: white;
				border: solid 2px var(--green-dark);
				border-radius: 50px;
				margin: 0 0 0 40px;
			}
		}

		& .cta-img {
			width: 305px;
			height: 440px;

			& img {
				width: 100%;
				height: 100%;
			}
		}
	}

	& .services-content {
		background-image: url(../imgs/services-background.png);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 20px;
		height: 500px;
		color: white;

		display: flex;
		justify-content: space-evenly;

		& .services {
			width: 279px;
			height: 365px;
			background-color: rgba(9, 20, 28, 0.7);
			border: 2px solid var(--green-dark);
			border-radius: 10px;
			color: white;
			padding: 15px;
			align-self: center;

			& .services-title {
				& p {
					font-family: "poppins";
				}

				& p:nth-child(1) {
					font-size: 1.8rem;
					margin: 0;
				}

				& p:nth-child(2) {
					font-size: 3rem;
					color: var(--green-light);
					font-weight: bold;
				}
			}

			& > p {
				font-size: 1.8rem;
				font-family: "poppins";
			}
		}

		& .services-container-item {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-row: auto auto;

			gap: 10px;
			justify-content: stretch;
			align-content: center;

			justify-items: center;
			align-items: center;
			width: 60%;

			& .services-item {
				height: 200px;
				background-color: rgba(9, 20, 28, 0.7);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border: 2px solid var(--green-dark);
				border-radius: 10px;

				& img {
					width: 62px;
					height: 62px;
				}

				& .item-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					max-width: 70%;

					& h4 {
						font-size: 1.8rem;
						font-family: "poppins";
					}

					& p {
						font-size: 1.2rem;
						font-family: "poppins";
						text-align: left;
					}
				}
			}
		}
	}

	& .planos {
		position: relative;

		& .seta-superior {
			width: auto;
			height: 150px;
			position: absolute;
			top: 0;
			right: 0;
		}

		& .planos-titulo {
			& p {
				color: white;
				font-family: "suez one";
				margin: 0;
				padding: 0;
				display: block;
				line-height: 4rem;
			}

			/* & p:nth-child(1) {
				font-family: "suez one";
				font-size: 3rem;
			} */

			& .custom-text-planos {
				position: relative;
				/* position: absolute; */

				& > #custom-text {
					position: relative;
					font-family: "suez one";
					font-size: 25rem;
					color: rgba(38, 72, 22, 1);
					top: 30px;
				}

				& > p:nth-child(2) {
					position: relative;
					left: 120px;
					bottom: 20px;
					z-index: 2;
					color: var(--green-dark);
					display: inline-block;
					font-size: 4rem;
				}
			}

			& > p {
				font-size: 4rem;
				position: relative;
				left: 140px;
				line-height: 40%;
			}
		}

		& .nav-items-planos {
			margin: 70px 0;

			& ul {
				list-style: none;
				display: flex;
				gap: 40px;
				justify-content: center;
				padding: 20px 1px;
				background-color: rgba(15, 42, 57, 0.3);
				width: 80%;
				margin: auto;
				border-radius: 20px;
				& li {
					font-family: "Poppins";
					width: 150px;
					text-align: center;
					font-size: 2rem;
					font-weight: 400;
					border-radius: 30px;
					padding: 10px 4px;
					background-color: transparent;
					color: white;
					cursor: pointer;
				}

				.actives {
					background-color: var(--green-dark);
					color: black;
					transition: all 1s;
				}
			}
		}

		& .planos-conteudo {
			display: flex;
			justify-content: space-around;

			& .img-plano {
				width: 340px;
				height: 523px;
				position: relative;

				& img {
					width: 100%;
					height: 100%;
					position: absolute;
					object-fit: contain;
					transform: translateX(-100%);
					opacity: 0;
					transition: all 0.3s ease-in;
					z-index: -1;
				}

				& .img-active {
					transform: translateX(0);
					opacity: 1;
				}
			}

			& .items-conteudo {
				& ul {
					list-style: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 50px;

					& li {
						font-size: 2rem;
						width: 465px;
						height: 65px;
						background-color: var(--green-dark);
						color: black;
						font-family: "Poppins";
						font-weight: bold;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0 20px 0 20px;
						border-radius: 0 0 30px 0;
						position: relative;
						z-index: 2;

						& .valores {
							display: inline-block;
							font-size: 3rem;
							transition: all 0.7s ease;
						}

						& .vLeft {
							transform: translateX(100%);
							opacity: 0;
						}

						& .span-active {
							transform: translateX(0);
							opacity: 1;
						}
					}

					& li::after {
						position: absolute;
						width: 295px;
						height: 40px;
						background-color: white;
						top: -27px;
						left: -19px;
						display: flex;
						align-items: center;
						padding: 0 0 0 10px;
						border-radius: 0 0 30px 0;
					}

					& li:nth-child(1)::after {
						content: "AVALIAÇÃO FISICA";
					}

					& li:nth-child(2)::after {
						content: "PLANO INTERMEDIÁRIO";
					}

					& li:nth-child(3)::after {
						content: "PLANO MENSAL";
					}

					& li:nth-child(4)::after {
						content: "PLANO SEMESTRAL";
					}

					& li:nth-child(5)::after {
						content: "PLANO ANUAL";
					}
				}
			}
		}
	}

	& .foxfit2 {
		height: auto;

		display: flex;
		justify-content: space-between;

		& .fit-content {
			& .fit-title {
				position: relative;

				& img {
					width: 136.25px;
					height: 125.64px;
				}

				& h1 {
					font-family: "DM Sans", sans-serif;
					font-size: 7rem;
					color: var(--green-dark);
					font-weight: bold;
					text-shadow: 20px 5px 30px var(--green-dark);
					position: absolute;
					top: 10px;
					left: 70px;

					& span {
						color: white;
					}
				}
			}

			& > p {
				font-family: "poppins";
				font-size: 2rem;
				width: 337.36px;
				color: white;

				margin: 30px 0;
			}
		}

		& .content-img {
			display: flex;
			gap: 10px;

			& .bx-content {
				width: 230.25px;
				height: 130px;
				background-color: var(--blue-light);

				& h2 {
					color: white;
					font-family: "poppins";
					font-size: 2.5rem;
					text-align: center;
					padding-top: 5px;
				}

				& p {
					color: white;
					font-family: "poppins";
					font-size: 1.5rem;
					max-width: 90%;
					margin: auto;
				}
			}

			& .bx-1 {
				display: flex;
				flex-direction: column;
				gap: 10px;

				& .bx-content {
					box-shadow: -10px 10px 0 var(--green-dark);
				}
			}

			& .bx-2 {
				display: flex;
				flex-direction: column-reverse;
				gap: 10px;

				& .bx-content {
					box-shadow: 10px -10px 0 var(--green-dark);
				}
			}
		}
	}

	& .treinadores {
		& .box {
			position: relative;

			/* .hover-animation{
				bottom: 100px;
			} */

			& .hover-content {
				position: absolute;
				width: 100%;
				height: 30%;
				background-color: rgba(15, 42, 57, 1);
				display: flex;
				bottom: 0;
				transform: translateY(100%);
				justify-content: center;
				align-items: center;
				transition: all 0.9s ease;


				& .hover-redes-sociais {
					display: flex;
					gap: 30px;

					& i{
						color: white;
						transition: all .7s ease;
					}

					& i:nth-child(1) {
						font-size: 2.5rem;
					}

					& i:nth-child(1):hover{
						color: #3f5c9a;
					}

					& i:nth-child(2) {
						font-size: 2.7rem;
					}

					& i:nth-child(2):hover{
						color: #ff00cf;
					}
				}
			}
		}


		& .treinadores-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100px;

			& .title {
				font-family: "Suez One";
				position: relative;

				& > p {
					font-size: 25rem;
					line-height: 50px;
					color: rgba(38, 72, 22, 1);
					margin: 0;
				}

				& .title-text {
					position: absolute;
					color: white;
					top: 15px;
					left: 100px;

					& h3 {
						font-size: 3.5rem;
						display: flex;
						align-items: center;
						margin: 0;
						gap: 15px;
					}

					& h1 {
						font-size: 6.5rem;
						line-height: 50px;
						padding-left: 20px;
						& span {
							color: var(--green-dark);
						}
					}
				}
			}

			& .icon-prev-next {
				align-self: end;
				font-size: 30px;
				& i {
					color: var(--green-dark);
				}

				& i:nth-child(1) {
				}

				& i:nth-child(2) {
					transform: rotateY(180deg);
				}
			}
		}

		& .treinadores-content {
			margin-top: 100px;
			overflow: hidden;
			scroll-behavior: smooth;

			& .container-content {
				display: flex;
				align-items: center;
				height: 300px;
				gap: 70px;
				width: 400%;
			}

			& .item-treinadores {
				position: relative;
				z-index: 1;
				width: 190.01px;
				height: 269.03px;
				background-color: var(--blue-light);


				clip-path: polygon(
					20% 0%,
					100% 0,
					100% 20%,
					100% 94%,
					95% 100%,
					0 100%,
					0% 80%,
					0 0
				);

				& img {
					/* clip path: inset, usei pra remover umas bordas das imagens = gambiarra */
					width: 100%;
					clip-path: inset(2px);
				}

				& .item-content {
					font-family: "Poppins";
					color: white;

					& h1 {
						font-size: 2.5rem;
						text-align: center;
						margin: 0;
					}

					& p {
						font-size: 1.3rem;
						margin: 0;
						text-align: center;
					}
				}
			}

			& .item-treinadores:hover .hover-content{
				bottom: 0;
				transform: translateY(0);
			}

			& .shadow {
				position: absolute; /* Para sobrepor à caixa */
				top: 5px;
				left: 5px;
				width: 190.01px;
				height: 269.03px;
				background-color: var(--green-dark); /* Cor da sombra */
				clip-path: polygon(
					20% 0%,
					100% 0,
					100% 20%,
					100% 94%,
					95% 100%,
					0 100%,
					0% 80%,
					0 0
				); /* Mesma forma */
				z-index: 0; /* Coloca a sombra atrás da caixa */
			}
		}
	}

	& .galeria {
		& .galeria-header {
			display: flex;
			justify-content: space-between;

			& .title {
				font-family: "Suez One";
				position: relative;

				& > p {
					font-size: 25rem;
					line-height: 50px;
					color: rgba(38, 72, 22, 1);
					margin: 0;
				}

				& .title-text {
					position: absolute;
					color: white;
					top: 15px;
					left: 100px;

					& h3 {
						font-size: 3.5rem;
						display: flex;
						align-items: center;
						margin: 0;
						gap: 15px;
					}

					& h1 {
						font-size: 6.5rem;
						line-height: 50px;
						padding-left: 20px;
						& span {
							color: var(--green-dark);
						}
					}
				}
			}

			& .rede-social {
				display: flex;
				font-family: "Suez One";
				color: white;
				align-items: center;

				& p {
					font-size: 8rem;
					color: var(--green-dark);
					margin: 0;
					margin-bottom: 10px;
				}

				& h5 {
					font-size: 2.5rem;
					margin: 0;
				}
			}
		}

		& .galeria-content {
			display: grid;

			width: 100%;

			grid-template: 257px 257px 257px / 150px 150px 150px 150px 150px 150px;

			gap: 10px;

			margin: 50px auto 0 auto;
			justify-content: center;

			& .item {
				position: relative;

				& img {
					width: 100%;
					height: 100%;
					position: absolute;
				}
			}

			& .item::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 50px;
				border-top: 4px solid var(--green-dark);
				border-right: 4px solid var(--green-dark);
				z-index: 50;
			}

			& .item::before {
				content: "";
				position: absolute;
				width: 50px;
				height: 50px;
				bottom: 0;
				left: 0;
				border-left: 4px solid var(--green-dark);
				border-bottom: 4px solid var(--green-dark);
				z-index: 50;
			}

			& .item-1 {
				grid-column-start: 1;
				grid-column-end: 4;
				position: relative;
			}
			& .item-2 {
				grid-column-start: span 3;
			}
			& .item-3 {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 4;
			}
			& .item-4 {
				grid-column-start: 3;
				grid-column-end: 7;
			}
			& .item-5 {
				grid-column-start: 3;
				grid-column-end: 5;
			}
			& .item-6 {
				grid-column-start: 5;
				grid-column-end: 7;
			}
		}
	}

	& .feedback {
		height: 400px;
		background-color: rgba(15, 42, 57, 0.3);
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		& .container-feed {
			width: 90%;
			height: 80%;
			overflow: auto;

			& .feeds {
				width: 200%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 10px;
				gap: 30px;
			}

			& .feed-item {
				width: 214.48px;
				height: 200px;
				background-color: var(--blue-dark);
				border-radius: 100px 0 100px 0;

				& img {
					border: 4px solid var(--green-dark);
					border-radius: 100%;
				}

				& .content-feed {
					font-family: "Rozha One", serif;

					& h1 {
						color: var(--green-dark);
						font-size: 2rem;
						text-align: center;
					}

					& p {
						color: white;
						font-size: 1.2rem;
						text-align: justify;
						width: 70%;
						margin: auto;
					}
				}
			}
		}

		& .container-feed::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}

		.container-feed::-webkit-scrollbar-track {
			background: black;
			border-radius: 10px; /* color of the tracking area */
		}

		.container-feed::-webkit-scrollbar-thumb {
			background-color: var(--green-dark); /* color of the scroll thumb */
			border-radius: 20px; /* roundness of the scroll thumb */
		}
	}

	& .apresentacao {
		height: 500px;
		background-image: url(../imgs/apresentacao/img1.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Rozha One", serif;
		border-radius: 30px;

		& .container-apresentacao {
			& h1:nth-child(1) {
				font-size: 5rem;
				color: white;
				text-align: center;
				line-height: 10rem;
				& span {
					color: transparent; /* Texto invisível */
					-webkit-text-stroke: 1px white; /* Contorno branco */
				}
			}

			& h1:nth-child(2) {
				font-size: 5rem;
				color: white;
				text-align: center;
				& span {
					color: var(--green-dark);
				}
			}
		}
	}
}

footer {
	max-width: var(--width-padrao);
	margin: 50px auto 0 auto;
	height: 450px;
	background-image: url(../imgs/footer/img11.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px -50px 0 0;
	position: relative;

	& .bx1 {
		font-family: "Rozha One";

		& p {
			margin-top: 15px;
			color: white;
			width: 231.52px;
			font-size: 2rem;
		}

		& .redes-sociais {
			margin-top: 40px;
			display: flex;
			gap: 20px;

			& i {
				font-size: 45.1px;
				color: white;
			}

			& i:nth-child(1) {
			}
			& i:nth-child(2) {
				font-size: 47.1px;
			}
		}
	}

	& .bx2 {
		& ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 30px;

			& li {
				color: white;
				font-family: "Rozha One";
				font-size: 2rem;
			}

			& li {
				display: flex;
				gap: 10px;
				& i {
					width: 35px;
					font-size: 3rem;
				}
			}

			& li:nth-child(1)::before {
			}
			& li:nth-child(2)::before {
			}
			& li:nth-child(3)::before {
			}
			& li:nth-child(4)::before {
			}
		}
	}

	& .bx3 {
		padding-bottom: 30px;

		& iframe {
			width: 242.28px;
			height: 262.101px;
		}
	}
}

/* media query */

@media (max-width: 450px) {


	header {

	
		/* top bar */
	
		& .top-bar {
	
			width: 95%;
			display: flex;
			justify-content: space-between;
	
			& .contact {
				display: flex;
				gap: 15px;
	
				& h5 {
					font-family: "poppins";
					font-size: 1.2rem;
					margin: 0;
					line-height: normal;
				}
	
				& .icon-phone {
					display: flex;
					height: auto;
					gap: 6px;
					justify-content: space-between;
					align-items: center;

					& i{
						font-size: 1.8rem;
					}
				}
	
				& .icon-contact {
					display: flex;
					height: auto;
					gap: 5px;
					justify-content: space-between;
					align-items: center;

					& i{
						font-size: 1.8rem;
					}
				}
			}
	
			& .social-media {
				display: flex;
	
				& .container-sm {
					display: flex;
					gap: 10px;
					justify-content: space-between;
				}
			}
		}
	
		& i:nth-child(1) {
			font-size: 2.5rem;
		}
	
		& i:nth-child(2) {
			font-size: 2.7rem;
		}
	}

	main{
		margin-top: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		z-index: 1;

		& .menu {
			height: 80px;
			display: flex;
			align-items: center;
			margin: 0;
			background-color: var(--blue-dark);
			margin: 0;
			/* justify-content: space-around; */
			border-radius: 0;
			border-bottom: 2px solid var(--green-dark);

	
			& .menu-logo {
				padding-left: 20px;
	
				& img {
					width: 55px;
					height: 55px;
				}
			}
	
			& #menu {
				list-style: none;
				display: none;
				justify-content: space-around;
				align-items: center;
				gap: 25px;
				padding-right: 40px;
				margin: 0;
				/* position: absolute;
				background-color: #3f5c9a;
				flex-direction: column;
				top: 0;
				right: 0;
				width: 70%;
				height: 100vh; */
	
				& li {
					& a {
						color: #e2e2e2;
						text-decoration: none;
						font-family: "Poppins";
						font-size: 16px;
					}
				}
			}

			& .menu-mobile{
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 0;
				right:0;
				transform: translateX(100%);
				width: 75vw;
				height: 90vh;
				transition: all 1s ease;
				z-index: 50;
				background-color:rgba(15, 42, 57, 0.9);
				


				& .header-menu-mobile{

					height: 91px;
					display: flex;
					justify-content: start;

				}

				& #menu-mobile-item{
					display: flex;
					text-decoration:none;
					list-style-type: none;
					justify-content: space-around;
					flex-direction: column;
					align-items: center;
					height: 100%;

					& li{
						
						& a{
							text-decoration: none;
							color: white;
							font-size: 1.8rem;
						}
					}
				}

			}
	
			& .button-menu {
				display: flex;
				flex-direction: column;
				gap: 10px;
				align-items: center;
				justify-content: center;
				padding-right: 20px;
				position: relative;
				z-index: 100;
	
				& .line {
					width: 50px;
					height: 8px;
					background-color: white;
					border-radius: 15px;
					transition: transform 1s ease, opacity .5s ease;
				}
	
				& .line:nth-child(1) {
					width: 25px;
					align-self: flex-start;
				}

				& .line:nth-child(2) {
					
				}
	
				& .line:nth-child(3) {
					width: 25px;
					align-self: flex-end;
				}

				

			}

			& .active-button{
				& .line:nth-child(1) {
					width: 50px;
					align-self: flex-start;
					transform: rotate(50deg);
					position: absolute;
				}

				& .line:nth-child(2) {
					opacity: 0;
				}

				& .line:nth-child(3) {
					width: 50px;
					align-self: flex-start;
					transform: rotate(-50deg);
					position: absolute;
				}
			}
		}

		& .hero {
			margin-top: 0;
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
	
			.content-hero {
				max-width: 1000px;
				width: 100%;
				height: auto;
				display: flex;
				justify-content: space-around;
				align-items:center;
				position: relative;
	
				& .onion-top {
					bottom: 0;
					left: 0;
					display: none;
				}

				& .onion-bottom {
					top: 0;
					right: 0;
					display: none;
				}
	
				.text-content-hero {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					width: 50%;
					margin-top: 30px;
	
					& .text-hero {
						width: 150px;
						display: none;
	
						& h1 {
							font-size: 10rem;
							color: var(--blue-dark);
							writing-mode: vertical-rl;
							transform: rotate(180deg);
							text-shadow: 2px 2px 0 #517f44, -2px 2px 0 #517f44,
								2px -2px 0 #517f44, -2px -2px 0 #517f44;
						}
					}
	
					& .text-content {
						align-self: flex-start;
						width: 90%;

						
						& h1 {
							align-self: flex-start;
							font-size: 2rem;
							color: white;
							font-family: "poppins";
							line-height: 3rem;
							font-weight: medium;
	
							& span {
								color: var(--green-light);
							}
						}
	
						& > p {
							margin-top: 20px;
							font-size: 1.2rem;
							color: white;
						}
	
						& .icon-text {
							display: flex;
							gap: 20px;
							align-items: center;
							margin-top: 30px;
	
							& .file-check {
								display: flex;
								gap: 10px;
								justify-content: center;
								align-items: center;
	
								& i {
									color: white;
									font-size: 2rem;
								}
	
								& p {
									width: 60px;
									text-align: left;
									font-size: 0.7rem;
									color: white;
								}
							}
	
							.square-energy {
								display: flex;
								gap: 10px;
								justify-content: center;
								align-items: center;
	
								& i {
									font-size: 2rem;
									color: white;
									display: flex;
								}
	
								& p {
									width: 60px;
									font-size: .7rem;
									color: white;
								}
							}
						}
	
						& .button-planos {
							margin-top: 15px;
							margin-left: 10px;
							width: 76px;
							height: 29px;
							position: relative;
	
							& button {
								background-color: var(--green-dark);
								width: 100%;
								height: 100%;
								font-size: 1rem;
								border: none;
								border-radius: 5px;
								font-weight: 500;
								padding-right: 15px;
							}
	
							& i {
								font-size: 1rem;
								color: black;
								position: absolute;
								top: 10px;
								right: 4px;
							}
						}
					}
				}
	
				& .imgs-hero {
					width: auto;
					height: 100%;
					top: 0;
					
					position: relative;
	
					& img:nth-child(1) {
						height: 100%;
						width: 100%;
						position: relative;
						z-index: 2;
					}
				}
	
				& > img {
					position: absolute;
				}
	
				
			}
		}

		& .carousel {
			position: relative;
	
			& #starUnion {
				position: absolute;
				right: 0;
			}
	
			& .carousel-title {
				width: 70%;
				margin: 30px auto;
				display: flex;
				justify-content: center;
				align-items: center;
				/* background-color: aqua; */
				gap: 20px;
	
				& .title {
					color: white;
	
					& span:nth-child(1) {
						color: var(--green-light);
						font-size: 3rem;
					}
	
					& span:nth-child(2) {
						color: black;
						font-size: 2rem;
						text-shadow: -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
							1px 0 0 white;
					}
				}
	
				& img {
					width: 30px;
					height: 30px;
				}
			}
	
			& .carousel-inner {
				width: 300px;
				height: 150px;
				margin: auto;
				background-color: transparent;
	
				& .carousel-item {
					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}



	}


}

/* @media (max-width: 767px) {

	header .top-bar {
		max-width: 85%;
	}

	header .top-bar .contact h5 {
		font-size: 1.4rem;
	}

	.menu {
		width: 100%;
	}

	#menu {
		display: none;
	}

	.button-menu {
		display: flex;
		margin-right: 40px;
	}

	.content-hero {
		width: 100%;
	}

	.text-content-hero {
		width: 100%;
	}

	.imgs-hero {
		width: 200px;
		height: auto;
	}
} */

/* @media (min-width: 768px) and (max-width: 1024px) {

	header .top-bar {
		max-width: 90%;
		width: 90%;
	}

	header .top-bar .contact h5 {
		font-size: 1.4rem;
	}

	.menu {
		max-width: 99%;
		width: 99%;
	}

	.imgs-hero {
		width: 250px;
		height: 330px;
	}

	.content-hero {
		width: 100%;
	}
} */

/* @media (min-width: 1025px) and (max-width: 1200px) {
	Estilos para pequenas telas de laptop 
} */

/* @media (min-width: 1201px) {
	 Estilos para desktops grandes
} */
