/* Importações de fontes */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suez+One&display=swap");

:root {
  /* variáveis de cores */

  --blue-light: #0f2a39;
  --blue-dark: #0a1720;
  --green-dark: #74cf21;
  --green-light: #9ef176;
}

* {
  /* Resetar os propriedades dos elementos*/

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* A cada 1 Rem equivale a 10px  */

  font-size: 62.5%;
}

header {
  width: 100vw;
  background-color: var(--green-dark);
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .top-bar {
  max-width: 1000px;
  width: 1000px;
  margin: auto;
  background-color: rgb(20, 205, 238);
  display: flex;
  justify-content: space-between;
}

header .top-bar .contact {
  background-color: #7cff02;
  display: flex;
}
header .top-bar .social-media {
  background-color: aliceblue;
  display: flex;
}

header .top-bar .contact .icon-contact{
  display: flex;
}

header .top-bar .contact .icon-phone{
  display: flex;
}

header i{
  font-size: 2.5rem;
}

header h5{
  font-size: 1.8rem;
}

#menu{
  list-style: none;
  border-radius: 40px;
  width: 700px;
  height: 67px;
  padding: 18px;
  margin: auto;
  background-color:#0f2a39;
  margin-top: 30px;
}

#menu li{
  display: inline;
}

#menu li a{
  color: #E2E2E2;
  text-decoration: none;
  display: inline;
  padding: 10px;
  font-family: ("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suez+One&display=swap");
  font-size: 16px;
  margin-left: 20px;
}